<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calcular Media</title>
</head>
<body>
<h1>Introduce tus tres notas</h1>
<form action="/" method="post">
    <label>Nota 1:</label>
    <input type="number" name="nota1" step="0.01" required><br><br>
    <label>Nota 2:</label>
    <input type="number" name="nota2" step="0.01" required><br><br>
    <label>Nota 3:</label>
    <input type="number" name="nota3" step="0.01" required><br><br>
    <button type="submit">Calcular Media</button>
</form>
</body>
</html>
