<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Saludos</title>
</head>
<body>
<h1>Formulario de saludo</h1>

<form method="post" th:object="${saludoDTO}" th:action="@{/saludoDTO}">
<label>Nombre</label>
<input type="text" id="nombre" name="nombre" required/>
<select id="idioma" name="idioma">
    <option value="es">Español</option>
    <option value="en">Inglés</option>
    <option value="fr">Francés</option>
    <option value="de">Alemán</option>

</select>
    </form>
<div th:if="${saludoDTO ">

    <button type="submit">Enviar</button>
</body>
</html>